In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [1]:
2 & 1

0

In [2]:
2 & 0

0

In [2]:
df = pd.read_excel('./../../../data/Online Retail.xlsx', nrows=1000)
df =  df.head(100)

In [4]:
df[df.InvoiceNo.duplicated()]

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,set 7 babushka nesting boxes,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
95,536378,22352,lunch box with cutlery retrospot,LUNCH BOX WITH CUTLERY RETROSPOT,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
96,536378,21212,pack of 72 retrospot cake cases,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom
97,536378,21975,pack of 60 dinosaur cake cases,PACK OF 60 DINOSAUR CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
98,536378,21977,pack of 60 pink paisley cake cases,PACK OF 60 PINK PAISLEY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
99,536378,84991,60 teatime fairy cake cases,60 TEATIME FAIRY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom

In [3]:
df.Description = df.Description.str.strip()
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
df.InvoiceNo = df.InvoiceNo.astype('str')
df = df[~df['InvoiceNo'].str.contains("C")]

In [4]:
df

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
95,536378,22352,lunch box with cutlery retrospot,LUNCH BOX WITH CUTLERY RETROSPOT,6,2010-12-01 09:37:00,2.55,14688.0,United Kingdom
96,536378,21212,pack of 72 retrospot cake cases,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom
97,536378,21975,pack of 60 dinosaur cake cases,PACK OF 60 DINOSAUR CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
98,536378,21977,pack of 60 pink paisley cake cases,PACK OF 60 PINK PAISLEY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom
99,536378,84991,60 teatime fairy cake cases,60 TEATIME FAIRY CAKE CASES,24,2010-12-01 09:37:00,0.55,14688.0,United Kingdom

In [5]:
basket = (df[df['Country'] == 'United Kingdom']
          .groupby(['InvoiceNo', 'StockCode', ])['Quantity'].sum()
          .unstack().reset_index().fillna(0).set_index("InvoiceNo")
          )
basket

StockCode,20679,20723,20725,21033,21068,21071,21094,21212,21258,21559,...,84969,84991,82494L,84029E,84029G,84406B,84997B,84997C,85099C,85123A
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,6.0,8.0,0.0,0.0,0.0,6.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536371,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536373,6.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,6.0,6.0,8.0,0.0,0.0,0.0,6.0
536374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536375,6.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,6.0,6.0,8.0,0.0,0.0,0.0,6.0
536376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536378,0.0,10.0,10.0,10.0,0.0,0.0,12.0,120.0,0.0,6.0,...,0.0,24.0,0.0,0.0,0.0,0.0,12.0,6.0,10.0,0.0

In [6]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_seet  = basket.applymap(encode_units)
basket_seet

StockCode,20679,20723,20725,21033,21068,21071,21094,21212,21258,21559,...,84969,84991,82494L,84029E,84029G,84406B,84997B,84997C,85099C,85123A
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,1
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536373,1,0,0,0,1,1,0,0,0,0,...,0,0,1,1,1,1,0,0,0,1
536374,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
536375,1,0,0,0,1,1,0,0,0,0,...,0,0,1,1,1,1,0,0,0,1
536376,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536378,0,1,1,1,0,0,1,1,0,1,...,0,1,0,0,0,0,1,1,1,0

In [7]:
frequest_items = apriori(basket_seet, min_support=0.07, use_colnames=True)

In [8]:
frequest_items

        support                                           itemsets
0      0.153846                                            (20679)
1      0.076923                                            (20723)
2      0.076923                                            (20725)
3      0.076923                                            (21033)
4      0.153846                                            (21068)
...         ...                                                ...
86032  0.153846  (84029G, 22752, 85123A, 84406B, 20679, 84029E,...
86033  0.153846  (84029G, 22752, 21730, 85123A, 84406B, 20679, ...
86034  0.153846  (84029G, 22752, 21730, 85123A, 84406B, 20679, ...
86035  0.153846  (84029G, 22752, 21730, 85123A, 84406B, 84029E,...
86036  0.153846  (84029G, 22752, 21730, 85123A, 84406B, 20679, ...

[86037 rows x 2 columns]

In [9]:
frequest_items =  frequest_items.head(1000)

In [10]:
rules = association_rules(frequest_items, metric='lift', min_threshold=1)

In [11]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(21068),(20679),0.153846,0.153846,0.153846,1.000000,6.500000,0.130178,inf
1,(20679),(21068),0.153846,0.153846,0.153846,1.000000,6.500000,0.130178,inf
2,(21071),(20679),0.153846,0.153846,0.153846,1.000000,6.500000,0.130178,inf
3,(20679),(21071),0.153846,0.153846,0.153846,1.000000,6.500000,0.130178,inf
4,(21730),(20679),0.230769,0.153846,0.153846,0.666667,4.333333,0.118343,2.538462
...,...,...,...,...,...,...,...,...,...
4537,"(22745, 21777)",(21754),0.076923,0.076923,0.076923,1.000000,13.000000,0.071006,inf
4538,"(21777, 21754)",(22745),0.076923,0.076923,0.076923,1.000000,13.000000,0.071006,inf
4539,(22745),"(21777, 21754)",0.076923,0.076923,0.076923,1.000000,13.000000,0.071006,inf
4540,(21754),"(22745, 21777)",0.076923,0.076923,0.076923,1.000000,13.000000,0.071006,inf
4541,(21777),"(22745, 21754)",0.076923,0.076923,0.076923,1.000000,13.000000,0.071006,inf

In [12]:
r_goup =  rules.groupby(['antecedents',])

In [13]:
# rules.to_csv("Product Recommended.csv")

In [14]:
# rules.groupby('antecedents')

In [15]:
rules.filter(items=df.StockCode)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[4542 rows x 0 columns]